.pageHeader {
    background: #f7f7f7;
    box-shadow: 0 0 20px 0 #ddd;
}

.pageHeader > div {
    width: 40rem;
    margin: 1rem auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pageContainer {
    width: 40rem;
    margin: 0 auto;
}

.pageContainer > * {
    margin: .5rem;
    padding: 1rem;
    border-radius: 5px;
}

.pageFooter {
    background: #f7f7f7;
    box-shadow: 0 0 20px 0 #ddd;

    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.logo {
    background: #ff8033;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;

    width: 3.25rem;
    height: 3rem;
    border-radius: 50%;
    padding-bottom: .25rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mainNav ul {
    min-width: 20rem;
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
}

.mainNav a {
    color: #ff6600;
    text-decoration: none;
}
a[aria-current='page'] {
    font-style: italic;
}

